
body{
	background-color:#011C37;
	margin: auto;
	width: 50%;
	font-size:30px;
	
}

h1{
	font-family: 'VT323', monospace;
	color:#FBF0C3;
}

#green{
	background-color:#027402;
}

#red{
	background-color:#FE0000;
}

#blue{
	background-color:#0100FE;
}

#yellow{
	background-color:#FDFE00;
}

button{
	 border: 4px solid black;
	height:200px;
	width:200px;
	margin:15px;
	border-radius:10px;
	flex-basis:50%;
}

.grid{
	display: flex;
}


